#transp-button {
    outline: none;
    background-color: transparent; 
    border: none; 
    cursor:pointer; 
    overflow: hidden;
}

#no-transfer {
    width: min-content;
    position: relative;
    display: inline-block; 
    white-space: nowrap;
    min-width: min-content;
}