.view-header {
    margin-left: 60px;
    display: flex;
    flex-flow: row;
    height: 8%;
}

.view-body {
    display: flex;
    flex-flow: row;
    overflow-y: scroll;
    height: 92%;
}

.timeline {
    display: flex;
    flex-flow: column;
    height: 1440px;
    width: 63px;
    border-right: solid #bebebe 1px;
}

.week-view-body-col {
    width: 14.3%;
    position: relative;
    height: 1440px;
    border-right: solid #bebebe 1px;
    border-bottom: solid #bebebe 1px;
}

.day-view-body-col {
    position: relative;
    height: 1440px;
    width: 100%;
    border-right: solid #bebebe 1px;
    border-bottom: solid #bebebe 1px;
}

.view-header-item {
    flex: 1;
    display: flex;
    flex-flow: column;
    border-bottom: solid #bebebe 1px;
    text-align: center;
    justify-content: center;
}

.timeline-item {
    position: relative;
    height: 60px;
    text-align: center;

}

.timeline-item::after {
    content: '';
    display: block;
    width: calc(100vw - 350px);
    height: 1px;
    background: #bebebe;
    position: absolute;
    top: 100%;
    left: 55px;
    transition: all 0.3s;
}

.timeline-item.act::after {
    width: calc(100vw - 80px);
}

.timeline-item span {
    position: absolute;
    top: 83%;
    right: 25%;
    font-size: 0.7em;
}

.time-section {
    height: 50px;
    display: flex;
    flex-flow: column;
    border-bottom: solid #bebebe 1px;
}

.view-header-item > p {
    margin: auto 0;
}

.view-header-item > span {
    width: 42px;
    height: 42px;
    margin: 0 auto auto;
    font-weight: bold;
    font-size: 1.3em;
    color: #6e6e6e;
}

.view-header-item > span.td {
    border: solid black 1px;
    border-radius: 50%;
    padding: 5px;
}

.event {
    display: flex;
    position: absolute;
    width: 99%;
    opacity: 0.6;
    background-color: #009BDF;
    border-left: solid #7587C7 3px;
    margin-left: 2px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

}

