{% extends "base.html" %}
{% load static %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block extended_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/signin-signup.css' %}">
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-5 col-md-8 col-sm-10 mx-auto">
                <div id="login-form" class="jumbotron">
                    <div class="row">
                        <div class="col text-center">
                            <img id="logo" src="{% static 'core/img/logo.png' %}" alt="logo">
                            <h3><strong>Things</strong></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                        <p>Do planning with pleasure.</p>
                        </div>
                    </div>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>The password reset link was invalid, possibly because it has already been used.
                            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}

                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}

                                {% if form.non_field_errors %}
                                  <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                      {{ error }}
                                    {% endfor %}
                                  </div>
                                {% endif %}

                                {% for field in form.visible_fields %}
                                  <div class="form-group">

                                    {% if form.is_bound %}
                                      {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                          <div class="invalid-feedback">
                                            {{ error }}
                                          </div>
                                        {% endfor %}
                                      {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                      {% endif %}
                                    {% else %}
                                      {% render_field field class="form-control" %}
                                    {% endif %}

                                    {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                  </div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col text-center">
                                    <button class="primaryAction btn btn-default btn-success" type="submit"> Change password </button>
                                    </div>
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                            </form>
                        {% else %}
                             <p>Your password is now changed. <a href="{{ 'login' }}">Sign in</a></p>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}