{% extends "index.html" %}

{% load static %}
{% load account %}

{% block extended_head_index %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/alluath_dialogs.css' %} ">
{% endblock %}

{% block index_extended %}
    <div class="container">
        <div class="row justify-content-center">
            <div id="passwordresetdialog" class="jumbotron col-9 mx-auto">
                <h1>Password Reset</h1>
            <hr>
                <div class="row">
                <div class="col-6">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p id="passresintsr">
                        Forgotten your password?
                        Enter your <strong>e-mail address </strong>, and we'll send you an e-mail allowing you to reset it.
                    </p>
                </div>
                <div class="col-6">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.email}}
                        <button id="btnResetConf" type="submit" class="btn btn-primary">Reset My Password</button>
                    </form>
                </div>
                </div>
            <hr>
                <h6><i>Please contact us if you have any trouble resetting your password.</i></h6>
            </div>
        </div>
    </div>

    <script>
    var email_field = document.getElementById('id_email');
    email_field.className += "form-control";
    </script>
{% endblock %}