{% extends 'base.html' %}


{% load account %}
{% load static %}

{% block extended_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/css/calendar.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}

{% block content %}
{% include 'user_profile.html' %}
{% include 'settings_modal.html' %}
    <div class="container-fluid py-2 w-100" id="no-transfer" style="border-bottom-style: outset;">
        
            <!--MENU BUTTON-->
            <div class="col-1 col-md-1 col-lg-1 col-xl-1 w-100" id="no-transfer">
                <button id="sidebarCollapse"><img src="https://img.icons8.com/ios-filled/50/000000/menu.png" height="30" width="30"></img></button>
            </div>

            <!--TODAY BUTTON-->
            <div class="d-none col-sm-2 d-sm-none col-md-2 d-md-inline-block 
            col-lg-2 d-lg-inline-block col-xl-2 d-xl-inline-block w-50" id="no-transfer">
                <a class='btn btn-primary btn-sm mx-2 w-20 todayButton'>Today</a>
            </div>

            <!--ARROWS BUTTON-->
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 w-100" id="no-transfer">
                <button id="transp-button"><img src="https://img.icons8.com/ios/64/000000/circled-chevron-left.png" height="30" width="30"></img></button>
                <button id="transp-button"><img src="https://img.icons8.com/ios/64/000000/circled-chevron-right.png" height="30" width="30"></img></button>
            </div>

            <!--DATE LABEL-->
            <div class="d-none d-sm-none col-md-2 d-md-inline-block col-lg-2 d-lg-inline-block col-xl-2 d-xl-inline-block w-100" id="no-transfer">
                <label style="">Current month</label>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-8 col-xl-8 w-100 d-inline-block justify-content-right" id="no-transfer">
                <button id="transp-button"><img src="https://img.icons8.com/ios/50/000000/search.png" height="30" width="30"></img></button>
                <button data-toggle="modal" href="settings_modal.html" data-target="#settingsModal" data-backdrop="static" id="transp-button">
                    <img src="https://img.icons8.com/ios/50/000000/settings.png" height="30" width="30"></img>
                </button>
                <select class="selectOptions">
                    <option>Day</option>
                    <option>Week</option>
                    <option>Month</option>
                    <option>Schedule</option>
                </select>
                <button data-toggle="modal" href="user_profile.html" data-target="#userModal" data-backdrop="static" id="transp-button">
                    <img src="https://img.icons8.com/ios/50/000000/user-male-circle.png" height="30" width="30"></img>
                </button>
            </div>
        </div>

        <div class="wrapper">
    	<div id="sidebar">
    		<button class="btn btn-outline-dark createEventButton">+Create Event</button>
    		<div id="calendar"></div>
    		<table id="calendar2">
  				<thead>
    			<tr><td id="calendarArrow">‹<td id="dateHeader" colspan="5"><td id="calendarArrow">›
    			<tr><td>Mo<td>Tu<td>We<td>Th<td>Fr<td>Sa<td>Su
  				<tbody>
			</table>
    		<div class="inboxOuterBorder">
    			<div class="form-control inboxLabelContainer">
    			<label><p class="inboxLabel">Inbox</p></label>
    			</div>
    		<div class="row">
    			<button id="addTask"><img src="https://img.icons8.com/android/24/000000/plus.png" height="10" width="10"></img></button>
    			<input name="taskName" id="taskName" type="text" placeholder="type name of task">
    		</div>
    		<div id="taskInbox" class="form-control">
    		</div>
    		</div>
    	</div>

    	<div id="content">
    		<nav class="navbar navbar-expand-lg navbar-light bg-light">
    			<div class="container-fluid">
    				
    			</div>
    		</nav>
    	</div>   	
    </div>

    <script>
    	$('#addTask').click(function() {  
    		if ($("input[name='taskName']").val() != 0)  		
    		{
    			let inboxTask = document.createElement('div');
    			$(inboxTask).attr("id", "inboxTask");
    			$(inboxTask).attr("class", 'row');
    			let taskLabel = document.createElement('div');
    			$(taskLabel).addClass("col-sm-8");
    			var text = $("input[name='taskName']").val();
    			$(taskLabel).text(text);

    			let inboxButton = document.createElement('button');
    			$(inboxButton).attr("class", "col-sm-1");
    			$(inboxButton).attr("type", "button");
    			$(inboxButton).attr("id", "deleteTask");
    			$(inboxButton).on('click', function(event) {
    				this.parentElement.remove(event.target.parentElement);
    			}); 	

    			let inboxButtonIcon = document.createElement('img');
    			$(inboxButtonIcon).attr("src", "https://img.icons8.com/ios/24/000000/close-window.png");
    			$(inboxButtonIcon).attr("heigth", "18");
    			$(inboxButtonIcon).attr("width", "18");

    			$(inboxButton).append(inboxButtonIcon);

    			$(inboxTask).append(taskLabel);
    			$(inboxTask).append(inboxButton);
    			$('#taskInbox').append(inboxTask);
    		}
    	});
    </script>

    <script>
    	$('#taskName').keyup(function(event){
    	if(event.keyCode == 13){
        	if ($("input[name='taskName']").val() != 0)  		
    		{
    			let inboxTask = document.createElement('div');
    			$(inboxTask).attr("id", "inboxTask");
    			$(inboxTask).attr("class", 'row');
    			let taskLabel = document.createElement('div');
    			$(taskLabel).addClass("col-sm-10");
    			var text = $("input[name='taskName']").val();
    			$(taskLabel).text(text);

    			let inboxButton = document.createElement('button');
    			$(inboxButton).attr("class", "col-sm-0");
    			$(inboxButton).attr("type", "button");
    			$(inboxButton).attr("id", "deleteTask");
    			$(inboxButton).on('click', function(event) {
    				this.parentElement.remove(event.target.parentElement);
    			}); 			

    			let inboxButtonIcon = document.createElement('img');
    			$(inboxButtonIcon).attr("src", "https://img.icons8.com/ios/24/000000/close-window.png");
    			$(inboxButtonIcon).attr("heigth", "18");
    			$(inboxButtonIcon).attr("width", "18");

    			$(inboxButton).append(inboxButtonIcon);

    			$(inboxTask).append(taskLabel);
    			$(inboxTask).append(inboxButton);
    			$('#taskInbox').append(inboxTask);
    		}

    	}
});
    </script>

    <script>
    	/*$('#taskInbox').on('click', '#deleteTask', function(event) {
    		 this.removeChild(event.target.parentElement);
    	});*/
    </script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                
                
            });
        });
    </script>

    <script>
	function Calendar2(id, year, month) {
		var Dlast = new Date(year,month+1,0).getDate(),
    	D = new Date(year,month,Dlast),
    	DNlast = new Date(D.getFullYear(),D.getMonth(),Dlast).getDay(),
    	DNfirst = new Date(D.getFullYear(),D.getMonth(),1).getDay(),
    	calendar = '<tr>',
    	month=["January","February","March","April","May","June","July","August","September","October","November","December"];
		if (DNfirst != 0) {
  			for(var  i = 1; i < DNfirst; i++) calendar += '<td>';
		}
		else {
  			for(var  i = 0; i < 6; i++) calendar += '<td>';
		}
		for(var  i = 1; i <= Dlast; i++) {
  			if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
    		calendar += '<td class="today">' + i;
  		}
  		else {
    		calendar += '<td>' + i;
  		}
  		if (new Date(D.getFullYear(),D.getMonth(),i).getDay() == 0) {
    		calendar += '<tr>';
  		}
		}
		for(var  i = DNlast; i < 7; i++) calendar += '<td>&nbsp;';
		document.querySelector('#'+id+' tbody').innerHTML = calendar;
		document.querySelector('#'+id+' thead td:nth-child(2)').innerHTML = month[D.getMonth()] +' '+ D.getFullYear();
		document.querySelector('#'+id+' thead td:nth-child(2)').dataset.month = D.getMonth();
		document.querySelector('#'+id+' thead td:nth-child(2)').dataset.year = D.getFullYear();
		if (document.querySelectorAll('#'+id+' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
    	document.querySelector('#'+id+' tbody').innerHTML += '<tr><td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;';
		}
	}
	Calendar2("calendar2", new Date().getFullYear(), new Date().getMonth());
	// переключатель минус месяц
	document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(1)').onclick = function() {
  	Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)-1);
	}
	// переключатель плюс месяц
	document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(3)').onclick = function() {
  	Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)+1);
	}
	</script>

	<script>
		$('#calendar2').on('click', function(event) {
			$('.selected').removeClass('selected');
			let selected = event.target;
			$(selected).addClass('selected');
			var selectedDay = selected.innerHTML;
			if(Number.isInteger(Number(selectedDay)) == true)
			{
				let selectedMonth = $('#dateHeader').attr('data-month');
				let selectedYear = $('#dateHeader').attr('data-year');
				let selectedDate = new Date(selectedYear, selectedMonth, selectedDay);
				console.log(selectedDate);
			}
		});
	</script>>


{% include 'user_profile.html' %}
{% include 'settings_modal.html' %}

{% endblock %}