<div id="eventCreationDialog">
    <div class="new-event-content">
        <span id="closeBtn" title="Close"><ion-icon style="font-size: 1.5em" name="close"></ion-icon></span>
        <div class="title">
            <input type="text" placeholder="Add title" autofocus>
        </div>
        <div class="color-picker">
            <span class="lavender active-color" data-color="#7587C7"></span>
            <span class="sage" data-color="#00B67D"></span>
            <span class="tangerine" data-color="#FF4D31"></span>
            <span class="peacock" data-color="#009CE0"></span>
            <span class="banana" data-color="#FFBE46"></span>
            <span class="blueberry" data-color="#3852B0"></span>
            <span class="grape" data-color="#9A24A5"></span>
        </div>
        <div id="duration"></div>
        <button id="saveEventBtn" class="btn btn-primary">Save</button>
    </div>
</div>

